.sidebar {
  background: #fff;
  padding: 20px 0px 20px 20px;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 2px solid #ccc;
}

.sidebar.collapsed {
  width: 90px;
}

.menu-container {
  flex-grow: 1;
}

.menu-item {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}

.menu-item.active,
.menu-item:hover {
  background-color: #e5f1fc !important;
}

.menu-item.active::before {
  opacity: 1;
}

.menu-item:hover::before {
  opacity: 1;
}

.menu-item::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.submenu-item {
  padding-left: 40px;
}

.submenu-item:hover {
  background-color: #e5f1fc !important;
}

.footer-sidebar {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-sidebar.MuiIconButton-root {
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  width: 130px;
  height: auto;
}

.logo.collapsed-logo {
  width: 50px;
}

.MuiListItemIcon-root {
  min-width: 40px;
}

.MuiListItemText-root {
  font-size: 16px;
  font-weight: 400;
}

.MuiListItemText-root .MuiTypography-root {
  color: #000;
}

.MuiListItemText-root:hover {
  color: #1890ff;
}

.menu-item:hover .menu-icon {
  color: blue;
}

.scrum-toggle-icon:hover {
  color: #808080;
}

/* Added styles for toggle button */
.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.toggle-icon {
  color: #555;
}