# Fichiers de compilation et de build
bin/
obj/

# Fichiers de configuration utilisateur
*.user
*.suo
*.userprefs

# Fichiers de cache Visual Studio
.vs/

# Packages NuGet
packages/
*.nupkg
.nuget/

# Fichiers de débogage
*.pdb
*.ilk

# Fichiers temporaires
*.tmp
*.temp

# Fichiers de configuration locale
appsettings.Development.json
UserService/appsettings.json
ReunionService/appsettings.json